<div class="swl-btn @(Type.ToString().ToLower()) @(Disabled ? "disabled" : "")">@Text</div>

@code {
    
    [Parameter]
    public bool Disabled { get; set; }
    
    [Parameter]
    public SwlBtnType Type { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;

    public enum SwlBtnType
    {
        Primary,
        Stroke
    }
    
}